@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');

/* <!-- Initial/Setup--> */
:root{
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;
    --pink: #e5345b;
}
body {
    font-family: var(--sm-font);
}

/* <!-- Navbar ---- --> */

.navbar-brand img{
    width: 30px;
}
#brand-name{
        letter-spacing: 2px;
        font-family: var(--lgfont);
}
.navbar {box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}
